/* style.css */

:root {
    --color-accent: oklch(70% 0.2 280);
    --background-color: white;
    --text-color: black;
    --input-bg: white;
    --input-text: black;
    --gridline-color: #ccc;
    --dot-color: var(--color-accent);
    --line-color: oklch(0.6 0.3 280);
  }

  #chart {
    width: 1000px;
    margin: 40px auto; /* centers horizontally */
    max-width: 95vw;  /* responsive width */
    overflow-x: auto;
}

.gridlines {
    stroke: var(--gridline-color);
    stroke-width: 0.5;
    color: var(--gridline-color);
  }
  